{
  "reddit": {
    "username": "",
    "password": "",
    "url": "http://www.reddit.com/r/name_of_subreddit/new/.json",
    "user-agent": "icodestuff.io/bot"
  },
  "instagram": {
    "username": "",
    "password": ""
  }
}